.main-navbar {
    box-shadow: 0 3px 6px rgba($black, 0.2);
}

.navbar-brand .logo {
    width: 170px;
}

.main-menu {
    li a {
        position: relative;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
    }
    li.active a,
    li a:hover {
        &::after {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background-color: $primary;
            position: absolute;
            bottom: 4px;
            @include media-breakpoint-up(lg) {
                left: calc(50% - 10px);
            }
        }
    }
}

.social-menu,
#menu-social-menu-1 {
    display: flex;
    flex-direction: row;
    li a.nav-link,
    li a {
        font-size: 0;
        padding: 0.5rem 1rem 0.5rem 0;
        &::before {
            font-family: ForkAwesome;
            font-size: 1.5rem;
        }
    }
    .menu-item-79 a::before {
        content: '\f082';
    }
    .menu-item-80 a::before {
        content: "\f16d";
    }
    .menu-item-81 a::before {
        content: "\f081";
    }
}

#menu-social-menu-1 {
    list-style: none;
    padding: 0;
    li a::before {
        font-size: 2.25rem;
    }
}

#menu-menu-footer li {
    margin-right: 1rem;
}